<div class="sidebar sticky resume">
  <h4>Table of Contents</h4>
  <ul>
    <li><a href="#start">Getting Started</a></li>
    <ul>
      <li>
        <a href="#connect-your-hubspot-account">1. Connect your account</a>
      </li>
      <li><a href="#login-to-your-hubspot-account">2. Login</a></li>
      <li><a href="#select-your-hubspot-account">3. Select account</a></li>
      <li><a href="#confirm-permissions">4. Confirm permissions</a></li>
    </ul>
    <li><a href="#using">Using the App</a></li>
    <ul>
      <li><a href="#access-from-sidebar">5. Access from sidebar</a></li>
      <li><a href="#begin-scoring">6. Begin scoring</a></li>
      <li><a href="#change-framework">7. Change framework</a></li>
      <li><a href="#settings">8. Settings</a></li>
      <li><a href="#report-and-export">9. Report and export</a></li>
      <li><a href="#upgrade-to-premium">10. Upgrade</a></li>
      <li><a href="#changeplan">11. Billing and plans</a></li>
    </ul>
    <li><a href="#uninstalling">Uninstalling</a></li>
    <li><a href="#troubleshooting">Troubleshooting</a></li>
    <ul>
      <li>
        <a href="#the-ai-autofill-is-not-taking-information-from-my-emails"
          >The AI Autofill is not taking information from my Emails</a
        >
      </li>
      <li>
        <a href="#how-can-add-a-discount-code">How can add a discount code</a>
      </li>
      <li>
        <a href="#how-can-cancell-or-manage-my-subcription"
          >Cancel or Change Subscription</a
        >
      </li>
    </ul>
  </ul>
</div>
